<div class="container-fluid">
    <div class="span3">
        <ul class="row-fluid">
            <!--Sidebar content-->
            <li class="span3">
                Search: <input ng-model="query">
            </li>
            <li style="display: block;">
                <ul class="atm">
                    <li ng-repeat="atm in list | filter:query">
                        <a href="#/atmId/{{atm.id}}">{{atm.id}}: {{atm.name}}</a>
                    </li>
                </ul>

            </li>
        </ul>
    </div>
    <!--Body content-->
    <div class="ymap span10"><img ng-src={{mapUrl}}></div>
</div>
